:root {
	--white: #fff;
	--grayl: #f1f1f1;
	--gray: #9e9e9e;
	--grayd: #616161;
	--black: #000;
	--redl: #ffdddd;
	--red: #f44336;
	--greenl: #ddffdd;
	--green: #4CAF50;
	--amberl: #ffe9a8;
	--amber: #ffc107;
	--orange: #ff9800;
	--purple: #673ab7;

	--small: 12px;
	--normal: 15px;
	--large: 18px;
	--title: 24px;
}

.none {
	display: none !important;
}

html {
	overflow-x: hidden;
}

body {
	min-width: 360px;
	margin: 0;
	padding: 0;

	font-family: Verdana, sans-serif;
	font-size: var(--normal);
	line-height: 1.5;

	background: var(--grayl);
	color: var(--black);
}

hr {
	width: 100%;
	border: none;
}

em {
	font-style: normal;
}

code {
	font-family: monospace;
	font-size: 1em;
}

a {
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: none;
}

a.idnam {
	display: block;
	font-size: var(--title);
}

a.idnam>code.id {
	padding: 0.1em 8px;
	margin-right: .8ch;
	border: 1px solid var(--black);
	border-radius: 4px;
	background: var(--grayd);
	color: var(--white);
}

a.idnam>span.nam {
	font-weight: bold;
}

button {
	font-size: 1em;
	white-space: nowrap;
	color: inherit;
	background: none;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button.del {
	background: var(--red) !important;
}

@media (hover: hover) {

	a:hover,
	button:hover {
		color: var(--amber) !important;
	}
}

nav {
	overflow: scroll;
	scrollbar-width: none;
}

nav::-webkit-scrollbar {
	display: none;
}

nav>menu {
	position: relative;
	display: flex;
	width: max-content;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	border-bottom: 1px dotted var(--gray);
	white-space: nowrap;
	gap: 3px;
}

nav>menu>li:first-child,
nav>menu>li:last-child {
	display: block;
	white-space: pre;
	position: sticky;
	min-width: 1ch;
	box-shadow: 0 0 1ch 1ch var(--grayl);
	background: var(--grayl);
	z-index: 2;
}

nav>menu>li:first-child {
	left: 0;
	margin-right: 2ch;
}

nav>menu>li:last-child {
	right: 0;
	margin-left: 2ch;
}

nav>menu>li a {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	user-select: none;
	z-index: 1;
	color: var(--gray);
	padding: 0 0.5ch;
}

nav>menu>li.active a {
	color: var(--black);
}

nav li.active em {
	color: var(--red);
}

div#main {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0;
}

article {
	position: relative;
	margin: 16px;
	padding: 8px 16px;
	background: var(--white);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	animation: scale 0.4s;
}

@keyframes scale {
	from {
		transform: scale(0.25);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

section {
	display: block;
	margin: 8px 0;
	padding: 0;
}

section>label {
	display: block;
	width: 100%;
	color: var(--gray);
}

section>input {
	padding: 1ch;
	max-width: 36ch;
	border: none;
	border-bottom: 1px dotted var(--black);
	text-align: center;
}

section>input:focus {
	outline: none;
	border-bottom: 1px solid var(--black);
}

section>input:focus::placeholder {
	color: transparent;
}

section>textarea {
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 1ch;
	margin: 6px 0;
	width: 100%;
	font-size: 1em;
	overflow: hidden;
	resize: none;
	outline: none;
	border: 1px dotted var(--black);
}

section>textarea:focus {
	border: 1px solid var(--black);
}

section>input:read-only,
section>textarea:read-only {
	background: var(--grayl);
	border: none !important;
}

section.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

section.flex>label {
	transform: translateY(0.75ch);
}

section.flex>label,
section.flex>input,
section.flex>button,
section.flex>select {
	box-sizing: border-box;
	display: block;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

section.flex>button {
	flex: 1 1 10ch;
	max-width: 24ch;
	padding: 1ch;
	background: var(--grayd);
	color: var(--grayl);
	border-radius: 8px;
}

section.flex>button:disabled {
	background: var(--grayl);
	color: var(--grayd);
}

@media (hover: hover) {
	section.flex>button:enabled:hover {
		opacity: 0.65;
	}
}

section.flex>input {
	flex: 10 1 10ch;
}

section.flex>select {
	flex: 0 0 12ch;
}

details>summary {
	color: var(--gray);
	user-select: none;
	cursor: pointer;
}

details:focus,
details>summary:focus {
	outline: none;
}

@media (hover: hover) {
	section>details>summary:hover {
		background: var(--grayl);
	}
}

details>p {
	display: block;
	background: var(--grayl);
	border-radius: 16px;
	padding: 16px 8px;
	margin: 8px auto;
	max-height: 480px;
	overflow-y: scroll;
}

details>p>section>section {
	margin: 0;
	padding: 0 1ch;
}

details a.soc {
	display: inline-block;
	margin-left: 8px;
	margin-bottom: 4px;
	padding: 0.4ch 1ch;
	border-radius: 4px;
	font-size: var(--small);
	background: var(--grayd);
	color: var(--white);
}

details section.mta {
	font-size: var(--small);
	color: var(--gray);
}

details section.msg {
	margin: 8px;
	min-width: 240px;
	width: fit-content;
	padding: 0.8em 16px;
	background: var(--grayl);
	border-radius: 0 8px 8px 8px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
	white-space: pre-line;
}

details section.msg.green {
	background: var(--greenl);
}

details section.msg.red {
	background: var(--redl);
	font-style: italic;
}

details button {
	font-style: italic;
	color: var(--gray);
}

p {
	display: block;
	margin: 1ch 0;
}

p.mta {
	padding: 1ch;
	background: var(--grayl);
	color: var(--gray);
}

p.hint {
	width: 100%;
	text-align: center;
	white-space: pre-line;
	color: var(--gray);
}

p.msg img {
	display: block;
	max-width: min(100%, 720px);
	margin: auto;
}

p.msg a {
	text-decoration: underline;
	text-underline-offset: 4px;
}

p.ind {
	padding: 0 2ch !important;
}

p.lp:empty::before {
	color: var(--gray);
	content: "无";
}

p.lp a {
	display: block;
}

p.lp a.ln {
	display: inline-block;
}

p.lp a.sec,
p.lp a.cdt,
p.lp a.ern {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0.4ch 1ch;
	border-radius: 4px;
	color: var(--grayl);
}

p.lp a.sec {
	background: var(--black);
}

p.lp a.cdt {
	background: var(--purple);
}

p.lp a.ern {
	background: var(--grayd);
}

p.lp button {
	padding: 0;
}

p.lp a.ln:not(:first-child):before,
p.lp button:not(:first-child):before {
	content: "、";
	color: var(--gray);
}
