<template id="id">
	<section>
		<a class="idnam"><code class="id"></code><span class="nam"></span></a>
		<p class="mta"></p>
		<p class="msg"></p>
	</section>
</template>

<template id="lp">
	<section>
		<label></label>
		<p class="lp"></p>
	</section>
</template>

<template id="sms">
	<section class="flex">
		<input class="nbr" type="text" inputmode="numeric" pattern="\d{11}" placeholder="十一位手机号（中国大陆）" minlength="11"
			maxlength="11" required />
		<button class="sms">发送验证码</button>
		<p class="hint"></p>
	</section>
</template>

<template id="code">
	<section class="flex">
		<input class="code" type="text" inputmode="numeric" pattern="\d{6}" placeholder="六位验证码" minlength="6"
			maxlength="6" required />
		<button class="send">登录</button>
	</section>
</template>

<template id="dtl">
	<section>
		<details>
			<summary>积分记录：</summary>
			<p class="dtl"></p>
		</details>
	</section>
</template>

<template id="rec">
	<section>
		<section><a class="usr"></a> <a class="soc"></a></section>
		<section class="mta"></section>
		<section class="msg"></section>
		<section>
			<button class="clr">删除</button>
			<button class="fin">确认</button>
			<button class="aug">追加</button>
		</section>
	</section>
</template>

<template id="put_s">
	<section class="flex">
		<label></label>
		<input class="str" />
	</section>
</template>

<template id="put_adm">
	<section class="flex adm">
		<label>地区：</label>
		<select class="adm1"></select>
		<select class="adm2"></select>
	</section>
</template>

<template id="put_t">
	<section>
		<label>简介：</label>
		<textarea class="txt"></textarea>
	</section>
</template>

<template id="btn_usr">
	<section class="flex">
		<button class="put">编辑</button>
		<button class="clr">登出</button>
	</section>
</template>

<template id="btn_pos">
	<section class="flex">
		<button class="del">删除</button>
		<button class="put">确认</button>
		<button class="ret">取消</button>
	</section>
</template>

<template id="btn_aut">
	<section class="flex">
		<button class="aut">增删管理员</button>
		<button class="usr">添加用户</button>
		<button class="soc">添加俱乐部</button>
	</section>
</template>

<template id="btn_soc">
	<section class="flex">
		<button class="aut">编辑俱乐部</button>
		<button class="msg">编辑简介</button>
		<button class="agr">编辑协议</button>
	</section>
	<section class="flex">
		<button class="agd">添加活动</button>
		<button class="cdt">添加积分</button>
		<button class="ern">添加贡献</button>
		<button class="dbt">使用积分</button>
	</section>
</template>

<template id="btn_agd">
	<section class="flex">
		<button class="put">编辑</button>
	</section>
</template>

<template id="btn_msg">
	<section class="flex">
		<button class="pre">添加文章</button>
		<button class="put">编辑</button>
		<button class="pin">置顶</button>
	</section>
</template>
